<!DOCTYPE html>
<html>
<head>


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>


.container3 {
  position: absolute;
   max-width: 300px auto;
    margin: 20px;
	right : 461px;
  background-color: white;
 
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
 
}

.openbtn:hover {
  background-color: #444;
}

.container2 {
  position: absolute;
   max-width: 300px auto;
    margin: 10px;
	left:0px;
	
  background-color: white;
 
}


.buttonload {
  background-color: white; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 24px; /* Some padding */
  font-size: 16px; /* Set a font-size */
  align:center;
}

/* Add a right margin to each icon */
.fa {
  margin-left: -12px;
  margin-right: 8px;
  color:black;
  align:center;
}


table, th {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 12px;
  background-color: #4CAF50;
  color:white;
  font-size: 17px;
}

td{
background-color: #f1f1f1;
color: black;
padding:12px;
font-size: 20px;



}

table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}


body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 17px}

.w3-sidebar {width: 204px;background: #222;}

#main {margin-left: 120px}

@media only screen and (max-width: 600px) {main {margin-left: 0;}}


/* Add styles to the form container */
.container {
  position: absolute;
  right: 0;
  margin: 20px;
  max-width: 300px;
  padding: 16px;
  background-color: white;
}


.container1 {
  position: absolute;
   max-width: 300px auto;
    margin: 175px;
	right : 170px;
  background-color: white;
 
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}
body {
  background-image: url({{ url_for ('static', filename = 'img/cPQOpr.jpg') }});
  background-size:100% 1000%;
  background-repeat: no-repeat;
 
}


</style>
</head>
<body>


<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center" id="mySidebar" class="sidebar">
  
  <img src="{{ url_for ('static', filename = 'img/batsman-and-bowler.jpg') }}" style="width:62%"/>
  <a href="home" class="w3-bar-item w3-button w3-padding-large w3-black">
    <p>HOME</p>
  </a>
  <a href="batVsBall" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <p style="color:white">BATSMAN VS BOWLER</p>
  </a>
  <a href="batVsVenue" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <p style="color:white">BATSMAN VS VENUE</p>
  </a>
  <a href="ballVsVenue" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <p style="color:white">BOWLER VS VENUE</p>
	</a>
  <a href="batVsBallInvVenue" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <p style="color:white">Bat vs ball in venue</p>
  </a>
  <a href="batVsteam" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <p style="color:white">Bat vs team</p>
  </a>
  
  <a href="ballVsteam" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <p style="color:white">Ball vs team</p>
  </a>
    <button class="openbtn" onclick="closeNav()"> X </button>
</nav>


<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
  <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
    <a href="home" class="w3-bar-item w3-button" style="width:25% !important">HOME</a>
    <a href="batVsBall" class="w3-bar-item w3-button" style="width:25% !important" method = "POST">ABOUT</a>
    <a href="batVsVenue" class="w3-bar-item w3-button" style="width:25% !important" method = "POST">PHOTOS</a>
    <a href="ballVsVenue" class="w3-bar-item w3-button" style="width:25% !important" method = "POST">CONTACT</a>
	<a href="batVsBallInvVenue" class="w3-bar-item w3-button" style="width:25% !important" method = "POST">CONT</a>
	<a href="batVsteam" class="w3-bar-item w3-button" style="width:25% !important" method = "POST">CONTT</a>
	<a href="ballVsteam" class="w3-bar-item w3-button" style="width:25% !important" method = "POST">CONTTT</a>
  </div>
</div>


 <form  class =  "container1" style = "background-color:#f1f1f1"  method = "POST" align = "right">
 	 			  <h3 align="center">	 {{ batsman }}  {{ vss }} {{ team1 }} </h3> 
{% for table in tables %}
          
            {{ table|safe }}
{% endfor %}
 </form>

<h2 style="color:white" align = "center">IPL batsman VS team ANALYSIS</h2>

  <form  class="container" method = "POST" align = "center">
    <h1>Batsman Vs team</h1>

    <label for="email"><b>batsman</b></label>
    <input type="text" placeholder="Enter batsman name" name="batsman" list="myUL3">
	
	 <datalist id="myUL3" name="batsman" required>
				     <select required>
                    <option value = "DA Warner">David Warner</option value>
                    <option value = "S Dhawan">shikhar dhawan</option value>
					<option value = "MC Henriques">Moises Henriques</option value>
                    <option value = "Yuvraj Singh">Yuvraj Singh</option value>
					<option value = "DJ Hooda">Deepak Hooda</option value>
                    <option value = "BCJ Cutting">Ben Cutting</option value>
					<option value = "CH Gayle">Chris Gayle</option value>
                    <option value = "Mandeep Singh">Mandeep Singh</option value>
					<option value = "TM Head">Travis Head</option value>
                    <option value = "KM Jadhav">Kedar Jadhav</option value>
					<option value = "SR Watson">Shane Watson</option value>
                    <option value = "Sachin Baby">Sachin Baby</option value>
					<option value = "STR Binny">Stuart Binny</option value>
                    <option value = "S Aravind">Sreenath Aravind</option value>
					<option value = "YS Chahal">Yuzvendra Chahal</option value>
                    <option value = "TS Mills">Tymal Mills</option value>
					<option value = "A Choudhary">Aniket Choudhary</option value>
                    <option value = "PA Patel">Parthiv Patel</option value>
					<option value = "JC Buttler">Jos Buttler</option value>
                    <option value = "RG Sharma">rohit sharma</option value>
					<option value = "N Rana">Nitish Rana</option value>
                    <option value = "AT Rayudu">Ambati Rayudu</option value>
					<option value = "KH Pandya">Krunal Pandya</option value>
                    <option value = "KA Pollard">Kieron Pollard</option value>
					<option value = "HH Pandya">Hardik Pandya</option value>
                    <option value = "TG Southee">Tim Southee</option value>
					<option value = "AM Rahane">Ajinkya Rahane</option value>
                    <option value = "MA Agarwal">Mayank Agarwal</option value>
					<option value = "SPD Smith">Steve Smith</option value>
                    <option value = "BA Stokes">Ben Stokes</option value>
					<option value = "MS Dhoni">Mahendra Singh Dhoni</option value>
                    <option value = "JJ Roy">Jason Roy</option value>
					<option value = "BB McCullum">Brendon McCullum</option value>
                    <option value = "SK Raina">Suresh Raina</option value>
					<option value = "AJ Finch">Aaron Finch</option value>
                    <option value = "KD Karthik">Dinesh Karthik</option value>
					<option value = "G Gambhir">Gautam Gambhir</option value>
                    <option value = "CA Lynn">Chris Lynn</option value>
					<option value = "MK Tiwary">Manoj Tiwary</option value>
                    <option value = "DT Christian">Dan Christian</option value>
					<option value = "HM Amla">Hashim Amla</option value>
                    <option value = "M Vohra">Manan Vohra</option value>
					<option value = "WP Saha">Wriddhiman Saha</option value>
                    <option value = "AR Patel">Axar Patel</option value>
					<option value = "GJ Maxwell">Glenn Maxwell</option value>
                    <option value = "DA Miller">David Miller</option value>
					<option value = "Vishnu Vinod">Vishnu Vinod</option value>
                    <option value = "Iqbal Abdulla">Iqbal Abdulla</option value>
					<option value = "P Negi">Pawan Negi</option value>
                    <option value = "AP Tare">Aditya Tare</option value>
					<option value = "SW Billings">Sam Billings</option value>
                    <option value = "KK Nair">Karun Nair</option value>
					<option value = "SV Samson">Sanju Samson</option value>
                    <option value = "RR Pant">Rishabh Pant</option value>
					<option value = "CH Morris">Chris Morris</option value>
					<option value = "CR Brathwaite">Carlos Brathwaite</option value>
                    <option value = "PJ Cummins">Pat Cummins</option value>
					<option value = "A Mishra">Amit Mishra</option value>
                    <option value = "S Nadeem">Shahbaz Nadeem</option value>
					<option value = "Z Khan">Zaheer Khan</option value>
                    <option value = "DR Smith">Dwayne Smith</option value>
					<option value = "DS Kulkarni">Dhawal Kulkarni</option value>
                    <option value = "P Kumar">Praveen Kumar</option value>
					<option value = "Basil Thampi">Basil Thampi</option value>
                    <option value = "RV Uthappa">Robin Uthappa</option value>
					<option value = "MK Pandey">Manish Pandey</option value>
                    <option value = "YK Pathan">Yusuf Pathan</option value>
					<option value = "SA Yadav">Suryakumar Yadav</option value>
                    <option value = "CR Woakes">Chris Woakes</option value>
					<option value = "SP Narine">Sunil Narine</option value>
                    <option value = "Harbhajan Singh">Harbhajan Singh</option value>
					<option value = "AB de Villiers">AB de Villiers</option value>
                    <option value = "CJ Anderson">Corey Anderson</option value>
					<option value = "F du Plessis">Faf du Plessis</option value>
                    <option value = "RA Tripathi">Rahul Tripathi</option value>
					<option value = "R Bhatia">Rajat Bhatia</option value>
                    <option value = "DL Chahar">Deepak Chahar</option value>
					<option value = "A Zampa">Adam Zampa</option value>
                    <option value = "AB Dinda">Ashoke Dinda</option value>
					<option value = "Imran Tahir">Imran Tahir</option value>
                    <option value = "NV Ojha">Naman Ojha</option value>
					<option value = "V Shankar">Vijay Shankar</option value>
                    <option value = "Rashid Khan">Rashid Khan</option value>
					<option value = "B Kumar">Bhuvneshwar Kumar</option value>
                    <option value = "MP Stoinis">Marcus Stoinis</option value>
					<option value = "MM Sharma">Mohit Sharma</option value>
                    <option value = "VR Aaron">Varun Aaron</option value>
					<option value = "V Kohli">Virat Kohli</option value>
                    <option value = "MJ McClenaghan">Mitchell McClenaghan</option value>
					<option value = "Ankit Sharma">Ankit Sharma</option value>
					<option value = "SN Thakur">Shardul Thakur</option value>
                    <option value = "RD Chahar">Rahul Chahar</option value>
					<option value = "LH Ferguson">Lockie Ferguson</option value>
                    <option value = "C de Grandhomme">Colin de Grandhomme</option value>
					<option value = "Bipul Sharma">Bipul Sharma</option value>
                    <option value = "SS Iyer">Shreyas Iyer</option value>
					<option value = "EJG Morgan">Eoin Morgan</option value>
                    <option value = "KC Cariappa">Konganda Charamanna Cariappa</option value>
					<option value = "Sandeep Sharma">Sandeep Sharma</option value>
                    <option value = "Ishan Kishan">Ishan Kishan</option value>
					<option value = "JD Unadkat">Jaydev Unadkat</option value>
                    <option value = "AF Milne">Adam Milne</option value>
					<option value = "S Badree">Samuel Badree</option value>
                    <option value = "AD Mathews">Angelo Mathews</option value>
					<option value = "Mohammed Shami">Mohammed Shami</option value>
                    <option value = "Mohammad Nabi">Mohammad Nabi</option value>
					<option value = "I Sharma">Ishant Sharma</option value>
                    <option value = "RA Jadeja">Ravindra Jadeja</option value>
					<option value = "AJ Tye">Andrew Tye</option value>
                    <option value = "KS Williamson">Kane Williamson</option value>
					<option value = "SE Marsh">Shaun Marsh</option value>
                    <option value = "Shakib Al Hasan">Shakib Al Hasan</option value>
					<option value = "JP Faulkner">James Faulkner</option value>
                    <option value = "MG Johnson">Mitchell Johnson</option value>
					<option value = "K Rabada">Kagiso Rabada</option value>
                    <option value = "AD Nath">Akshdeep Nath</option value>
					<option value = "NM Coulter-Nile">NM Coulter-Nile</option value>
                    <option value = "Kuldeep Yadav">Kuldeep Yadav</option value>
					<option value = "UT Yadav">Umesh Yadav</option value>
                    <option value = "Washington Sundar">Washington Sundar</option value>
					<option value = "KV Sharma">Karn Sharma</option value>
                    <option value = "DM Bravo">Darren Bravo</option value>
					<option value = "AR Bawne">Ankit Bawne</option value>
                    <option value = "SP Jackson">Sheldon Jackson</option value>
					<option value = "MJ Guptill">Martin Guptill</option value>
					<option value = "Anureet Singh">Anureet Singh</option value>
                    <option value = "IK Pathan">Irfan Pathan</option value>
					<option value = "Ankit Soni">Ankit Soni</option value>
                    <option value = "JJ Bumrah">JJ Bumrah</option value>
					<option value = "SL Malinga">SL Malinga</option value>
                    <option value = "PJ Sangwan">Pradeep Sangwan</option value>
					<option value = "S Kaul">Siddarth Kaul</option value>
                    <option value = "LMP Simmons">Lendl Simmons</option value>
					<option value = "MN Samuels">Marlon Samuels</option value>
                    <option value = "Swapnil Singh">Swapnil Singh</option value>
					<option value = "R Tewatia">Rahul Tewatia</option value>
                    <option value = "MM Patel">Munaf Patel</option value>
					<option value = "SS Tiwary">Saurabh Tiwary</option value>
                    <option value = "TA Boult">Trent Boult</option value>
					<option value = "CJ Jordan">Chris Jordan</option value>
                    <option value = "IR Jaggi">Ishank Jaggi</option value>
					<option value = "PP Chawla">Piyush Chawla</option value>
                    <option value = "AS Rajpoot">Ankit Rajpoot</option value>
					<option value = "SC Ganguly">Sourav Ganguly</option value>
                    <option value = "RT Ponting">Ricky Ponting</option value>
					<option value = "DJ Hussey">David Hussey</option value>
                    <option value = "Mohammad Hafeez">Mohammad Hafeez</option value>
					<option value = "R Dravid">Rahul Dravid</option value>
                    <option value = "W Jaffer">W Jaffer</option value>
					<option value = "JH Kallis">Jacques Kallis</option value>
                    <option value = "CL White">Cameron White</option value>
					<option value = "MV Boucher">MV Boucher</option value>
                    <option value = "B Akhil">B Akhil</option value>
					<option value = "AA Noffke">AA Noffke</option value>
                    <option value = "SB Joshi">SB Joshi</option value>
					<option value = "ML Hayden">ML Hayden</option value>
                    <option value = "MEK Hussey">MEK Hussey</option value>
					<option value = "S Badrinath">S Badrinath</option value>
                    <option value = "K Goel">K Goel</option value>
					<option value = "JR Hopes">JR Hopes</option value>
                    <option value = "KC Sangakkara">KC Sangakkara</option value>
					<option value = "SM Katich">SM Katich</option value>
                    <option value = "T Kohli">T Kohli</option value>
					<option value = "M Kaif">M Kaif</option value>
                    <option value = "DS Lehmann">DS Lehmann</option value>
					<option value = "M Rawat">M Rawat</option value>
                    <option value = "D Salunkhe">D Salunkhe</option value>
					<option value = "SK Warne">SK Warne</option value>
                    <option value = "SK Trivedi">SK Trivedi</option value>
					<option value = "V Sehwag">V Sehwag</option value>
                    <option value = "L Ronchi">Luke Ronchi</option value>
					<option value = "ST Jayasuriya">Sanath Jayasuriya</option value>
                    <option value = "DJ Thornely">Dominic Thornely</option value>
					<option value = "PR Shah">Pinal Rohitbhai Shah</option value>
                    <option value = "AM Nayar">Abhishek Nayar</option value>
					<option value = "SM Pollock">Shaun Pollock</option value>
                    <option value = "S Chanderpaul">Shivnarine Chanderpaul</option value>
					<option value = "LRPL Taylor">Ross Taylor</option value>
                    <option value = "AC Gilchrist">Adam Gilchrist</option value>
					<option value = "Y Venugopal Rao">Venugopal Rao</option value>
                    <option value = "VVS Laxman">VVS Laxman</option value>
					<option value = "A Symonds">Andrew Symonds</option value>
                    <option value = "SB Styris">Scott Styris</option value>
					<option value = "AS Yadav">AS Yadav</option value>
                    <option value = "SB Bangar">Sanjay Bangar</option value>
					<option value = "WPUJC Vaas">Chaminda Vaas</option value>
                    <option value = "RP Singh">RP Singh</option value>
					<option value = "LR Shukla">Laxmi Ratan Shukla</option value>
                    <option value = "DPMD Jayawardene">Mahela Jayawardene</option value>
					<option value = "S Sohal">Sunny Sohal</option value>
                    <option value = "B Lee">Brett Lee</option value>
					<option value = "WA Mota">WA Mota</option value>
                    <option value = "Kamran Akmal">Kamran Akmal</option value>
					<option value = "Shahid Afridi">Shahid Afridi</option value>
                    <option value = "DJ Bravo">DJ Bravo</option value>
					<option value = "MA Khote">MA Khote</option value>
                    <option value = "A Nehra">Ashish Nehra</option value>
					<option value = "GC Smith">Graeme Smith</option value>
                    <option value = "Pankaj Singh">Pankaj Singh</option value>
					<option value = "RR Sarwan">Ramnaresh Sarwan</option value>
                    <option value = "S Sreesanth">S Sreesanth</option value>
					<option value = "VRV Singh">VRV Singh</option value>
                    <option value = "R Vinay Kumar">Vinay Kumar</option value>
					<option value = "AB Agarkar">AB Agarkar</option value>
                    <option value = "M Kartik">Murali Kartik</option value>
					<option value = "Shoaib Malik">Shoaib Malik</option value>
                    <option value = "MF Maharoof">Farveez Maharoof</option value>
					<option value = "VY Mahesh">Yo Mahesh</option value>
                    <option value = "TM Srivastava">Tanmay Srivastava</option value>
					<option value = "B Chipli">Bharat Chipli</option value>
                    <option value = "DW Steyn">Dale Steyn</option value>
					<option value = "DB Das">DB Das</option value>
                    <option value = "HH Gibbs">Herschelle Gibbs</option value>
					<option value = "DNT Zoysa">Nuwan Zoysa</option value>
					<option value = "D Kalyankrishna">D Kalyankrishna</option value>
                    <option value = "SA Asnodkar">Swapnil Asnodkar</option value>
					<option value = "Sohail Tanvir">Sohail Tanvir</option value>
                    <option value = "Salman Butt">Salman Butt</option value>
					<option value = "BJ Hodge">BJ Hodge</option value>
                    <option value = "Umar Gul">Umar Gul</option value>
					<option value = "SP Fleming">Stephen Fleming</option value>
                    <option value = "S Vidyut">S Vidyut</option value>
					<option value = "JA Morkel">JA Morkel</option value>
                    <option value = "LPC Silva">LPC Silva</option value>
					<option value = "DB Ravi Teja">DB Ravi Teja</option value>
                    <option value = "Misbah-ul-Haq">Misbah-ul-Haq</option value>
					<option value = "YV Takawale">YV Takawale</option value>
                    <option value = "RR Raje">RR Raje</option value>
					<option value = "Mohammad Asif">Mohammad Asif</option value>
                    <option value = "GD McGrath">GD McGrath</option value>
					<option value = "Joginder Sharma">Joginder Sharma</option value>
                    <option value = "MS Gony">MS Gony</option value>
					<option value = "M Muralitharan">M Muralitharan</option value>
                    <option value = "M Ntini">M Ntini</option value>
					<option value = "DT Patil">DT Patil</option value>
                    <option value = "A Kumble">Anil Kumble</option value>
					<option value = "S Anirudha">S Anirudha</option value>
                    <option value = "CK Kapugedera">CK Kapugedera</option value>
					<option value = "A Chopra">Aakash Chopra</option value>
                    <option value = "T Taibu">T Taibu</option value>
					<option value = "J Arunkumar">J Arunkumar</option value>
                    <option value = "PP Ojha">PP Ojha</option value>
					<option value = "SP Goswami">SP Goswami</option value>
                    <option value = "SR Tendulkar">Sachin Tendulkar</option value>
					<option value = "U Kaul">U Kaul</option value>
                    <option value = "TM Dilshan">TM Dilshan</option value>
					<option value = "AD Mascarenhas">AD Mascarenhas</option value>
                    <option value = "Niraj Patel">Niraj Patel</option value>
					<option value = "LA Pomersbach">LA Pomersbach</option value>
					<option value = "Younis Khan">Younis Khan</option value>
                    <option value = "PM Sarvesh Kumar">PM Sarvesh Kumar</option value>
					<option value = "DP Vijaykumar">DP Vijaykumar</option value>
                    <option value = "Shoaib Akhtar">Shoaib Akhtar</option value>
					<option value = "Abdur Razzak">Abdur Razzak</option value>
                    <option value = "H Das">H Das</option value>
					<option value = "SD Chitnis">SD Chitnis</option value>
                    <option value = "CRD Fernando">CRD Fernando</option value>
					<option value = "VS Yeligati">VS Yeligati</option value>
                    <option value = "L Balaji">L Balaji</option value>
					<option value = "A Mukund">A Mukund</option value>
                    <option value = "RR Powar">RR Powar</option value>
					<option value = "JP Duminy">JP Duminy</option value>
                    <option value = "A Flintoff">A Flintoff</option value>
					<option value = "T Thushara">T Thushara</option value>
                    <option value = "JD Ryder">JD Ryder</option value>
					<option value = "KP Pietersen">KP Pietersen</option value>
                    <option value = "T Henderson">T Henderson</option value>
					<option value = "Kamran Khan">Kamran Khan</option value>
                    <option value = "RS Bopara">RS Bopara</option value>
					<option value = "R Bishnoi">R Bishnoi</option value>
                    <option value = "FH Edwards">FH Edwards</option value>
					<option value = "PC Valthaty">Paul Valthaty</option value>
                    <option value = "RJ Quiney">RJ Quiney</option value>
					<option value = "AS Raut">AS Raut</option value>
                    <option value = "Yashpal Singh">Yashpal Singh</option value>
					<option value = "M Manhas">M Manhas</option value>
                    <option value = "AA Bilakhia">AA Bilakhia</option value>
					<option value = "AN Ghosh">AN Ghosh</option value>
                    <option value = "BAW Mendis">BAW Mendis</option value>
					<option value = "DL Vettori">DL Vettori</option value>
                    <option value = "MN van Wyk">MN van Wyk</option value>
					<option value = "RE van der Merwe">RE van der Merwe</option value>
                    <option value = "TL Suman">TL Suman </option value>
					<option value = "Shoaib Ahmed">Shoaib Ahmed</option value>
					<option value = "GR Napier">GR Napier</option value>
                    <option value = "KP Appanna">KP Appanna</option value>
					<option value = "LA Carseldine">LA Carseldine</option value>
                    <option value = "SM Harwood">SM Harwood</option value>
					<option value = "M Vijay">M Vijay</option value>
                    <option value = "SB Jakati">SB Jakati</option value>
					<option value = "RJ Harris">RJ Harris</option value>
                    <option value = "D du Preez">D du Preez</option value>
					<option value = "M Morkel">M Morkel</option value>
                    <option value = "J Botha">J Botha</option value>
					<option value = "C Nanda">C Nanda</option value>
                    <option value = "Mashrafe Mortaza">Mashrafe Mortaza</option value>
					<option value = "A Singh">A Singh</option value>
                    <option value = "GJ Bailey">GJ Bailey</option value>
					<option value = "AB McDonald">AB McDonald</option value>
                    <option value = "Y Nagar">Y Nagar</option value>
					<option value = "SS Shaikh">SS Shaikh</option value>
                    <option value = "R Ashwin">R Ashwin</option value>
					<option value = "Mohammad Ashraful">Mohammad Ashraful</option value>
                    <option value = "CA Pujara">CA Pujara</option value>
					<option value = "OA Shah">OA Shah</option value>
                    <option value = "Anirudh Singh">Anirudh Singh</option value>
					<option value = "Jaskaran Singh">Jaskaran Singh</option value>
                    <option value = "R Sathish">R Sathish</option value>
					<option value = "R McLaren">R McLaren</option value>
                    <option value = "AA Jhunjhunwala">AA Jhunjhunwala</option value>
					<option value = "P Dogra">P Dogra</option value>
                    <option value = "A Uniyal">A Uniyal</option value>
					<option value = "MS Bisla">MS Bisla</option value>
                    <option value = "YA Abdulla">YA Abdulla</option value>
					<option value = "JM Kemp">JM Kemp</option value>
                    <option value = "S Tyagi">S Tyagi</option value>
					<option value = "RS Gavaskar">RS Gavaskar</option value>
                    <option value = "SE Bond">SE Bond</option value>
					<option value = "S Ladda">S Ladda</option value>
                    <option value = "DP Nannes">DP Nannes</option value>
					<option value = "MJ Lumb">MJ Lumb</option value>
                    <option value = "DA Warner">david warner</option value>
					<option value = "DR Martyn">DR Martyn</option value>
                    <option value = "S Narwal">S Narwal</option value>
					<option value = "AB Barath">AB Barath</option value>
                    <option value = "FY Fazal">FY Fazal</option value>
					<option value = "AC Voges">AC Voges</option value>
                    <option value = "MD Mishra">MD Mishra</option value>
					<option value = "J Theron">J Theron</option value>
                    <option value = "SJ Srivastava">SJ Srivastava</option value>
					<option value = "R Sharma">R Sharma</option value>
                    <option value = "SW Tait">SW Tait</option value>
					<option value = "KB Arun Karthik">KB Arun Karthik</option value>
                    <option value = "KAJ Roach">KAJ Roach</option value>
					<option value = "PD Collingwood">PD Collingwood</option value>
                    <option value = "CK Langeveldt">CK Langeveldt</option value>
					<option value = "VS Malik">VS Malik</option value>
                    <option value = "A Mithun">A Mithun</option value>
					<option value = "AP Dole">AP Dole</option value>
                    <option value = "AN Ahmed">AN Ahmed</option value>
					<option value = "RS Sodhi">RS Sodhi</option value>
                    <option value = "DE Bollinger">DE Bollinger</option value>
					<option value = "S Sriram">S Sriram</option value>
                    <option value = "B Sumanth">B Sumanth</option value>
					<option value = "C Madan">C Madan</option value>
                    <option value = "AG Paunikar">AG Paunikar</option value>
					<option value = "MR Marsh">MR Marsh</option value>
                    <option value = "Harmeet Singh">Harmeet Singh</option value>
					<option value = "RV Gomez">RV Gomez</option value>
                    <option value = "AUK Pathan">AUK Pathan</option value>
					<option value = "UBT Chand">UBT Chand</option value>
                    <option value = "DJ Jacobs">DJ Jacobs</option value>
					<option value = "Sunny Singh">Sunny Singh</option value>
                    <option value = "NJ Rimmington">NJ Rimmington</option value>
					<option value = "AL Menaria">AL Menaria</option value>
                    <option value = "WD Parnell">WD Parnell</option value>
					<option value = "JJ van der Wath">JJ van der Wath</option value>
                    <option value = "R Ninan">R Ninan</option value>
					<option value = "MS Wade">MS Wade</option value>
                    <option value = "TD Paine">TD Paine</option value>
					<option value = "SB Wagh">SB Wagh</option value>
                    <option value = "AC Thomas">AC Thomas</option value>
					<option value = "JEC Franklin">JEC Franklin</option value>
                    <option value = "DH Yagnik">DH Yagnik</option value>
					<option value = "S Randiv">S Randiv</option value>
                    <option value = "BJ Haddin">BJ Haddin</option value>
					<option value = "NLTC Perera">NLTC Perera</option value>
                    <option value = "NL McCullum">NL McCullum</option value>
					<option value = "JE Taylor">JE Taylor</option value>
                    <option value = "J Syed Mohammad">J Syed Mohammad</option value>
					<option value = "RN ten Doeschate">RN ten Doeschate</option value>
                    <option value = "TR Birt">TR Birt</option value>
					<option value = "AG Murtaza">AG Murtaza</option value>
					<option value = "Harpreet Singh">Harpreet Singh</option value>
                    <option value = "M Klinger">M Klinger</option value>
					<option value = "AC Blizzard">AC Blizzard</option value>
                    <option value = "I Malhotra">I Malhotra</option value>
					<option value = "L Ablish">L Ablish</option value>
                    <option value = "CA Ingram">CA Ingram</option value>
					<option value = "P Parameswaran">P Parameswaran</option value>
                    <option value = "CJ Ferguson">CJ Ferguson</option value>
					<option value = "AA Chavan">AA Chavan</option value>
                    <option value = "ND Doshi">ND Doshi</option value>
					<option value = "Y Gnaneswara Rao">Y Gnaneswara Rao</option value>
                    <option value = "S Rana">S Rana</option value>
					<option value = "BA Bhatt">BA Bhatt</option value>
                    <option value = "RE Levi">RE Levi</option value>
					<option value = "KK Cooper">KK Cooper</option value>
                    <option value = "HV Patel">HV Patel</option value>
					<option value = "DAJ Bracewell">DAJ Bracewell</option value>
                    <option value = "DJ Harris">DJ Harris</option value>
					<option value = "GB Hogg">GB Hogg</option value>
                    <option value = "RR Bhatkal">RR Bhatkal</option value>
					<option value = "CJ McKay">CJ McKay</option value>
                    <option value = "N Saini">Navdeep Saini</option value>
					<option value = "Azhar Mahmood">Azhar Mahmood</option value>
                    <option value = "RJ Peterson">RJ Peterson</option value>
					<option value = "KMDN Kulasekara">KMDN Kulasekara</option value>
                    <option value = "A Ashish Reddy">A Ashish Reddy</option value>
					<option value = "V Pratap Singh">V Pratap Singh</option value>
                    <option value = "BB Samantray">BB Samantray</option value>
					<option value = "MJ Clarke">MJ Clarke</option value>
                    <option value = "Gurkeerat Singh">Gurkeerat Singh</option value>
					<option value = "AP Majumdar">AP Majumdar</option value>
                    <option value = "PA Reddy">PA Reddy</option value>
					<option value = "K Upadhyay">K Upadhyay</option value>
                    <option value = "P Awana">P Awana</option value>
					<option value = "AD Russell">Andre Russell</option value>
					<option value = "A Chandila">A Chandila</option value>
                    <option value = "Sunny Gupta">Sunny Gupta</option value>
					<option value = "MC Juneja">MC Juneja</option value>
                    <option value = "GH Vihari">GH Vihari</option value>
					<option value = "MDKJ Perera">MDKJ Perera</option value>
                    <option value = "R Shukla">R Shukla</option value>
					<option value = "B Laughlin">B Laughlin</option value>
                    <option value = "BMAJ Mendis">BMAJ Mendis</option value>
					<option value = "R Rampaul">R Rampaul</option value>
                    <option value = "SMSM Senanayake">SMSM Senanayake</option value>
					<option value = "BJ Rohrer">BJ Rohrer</option value>
                    <option value = "KL Rahul">KL Rahul</option value>
					<option value = "Q de Kock">Q de Kock</option value>
                    <option value = "R Dhawan">LJ Wright</option value>
					<option value = "IC Pandey">IC Pandey</option value>
                    <option value = "CM Gautam">CM Gautam</option value>
					<option value = "X Thalaivan Sargunam">X Thalaivan Sargunam</option value>
                    <option value = "DJG Sammy">DJG Sammy</option value>
					<option value = "KW Richardson">KW Richardson</option value>
                    <option value = "UA Birla">UA Birla</option value>
					<option value = "Parvez Rasool">Parvez Rasool</option value>
                    <option value = "PV Tambe">PV Tambe</option value>
					<option value = "NJ Maddinson">NJ Maddinson</option value>
                    <option value = "JDS Neesham">JDS Neesham</option value>
					<option value = "MA Starc">MA Starc</option value>
                    <option value = "BR Dunk">BR Dunk</option value>
					<option value = "RR Rossouw">RR Rossouw</option value>
                    <option value = "Shivam Sharma">Shivam Sharma</option value>
					<option value = "VH Zol">VH Zol</option value>
                    <option value = "BE Hendricks">BE Hendricks</option value>
					<option value = "S Gopal">S Gopal</option value>
                    <option value = "M de Lange">M de Lange</option value>
					<option value = "JO Holder">JO Holder</option value>
                    <option value = "Karanveer Singh">Karanveer Singh</option value>
					<option value = "SA Abbott">SA Abbott</option value>
					<option value = "J Suchith">J Suchith</option value>
                    <option value = "RG More">RG More</option value>
					<option value = "D Wiese">D Wiese</option value>
                    <option value = "SN Khan">SN Khan</option value>
					<option value = "DJ Muthuswami">DJ Muthuswami</option value>
                    <option value = "P Sahu">P Sahu</option value>
					<option value = "KJ Abbott">KJ Abbott</option value>
                    <option value = "M Ashwin">M Ashwin</option value>
					<option value = "NS Naik">NS Naik</option value>
                    <option value = "PSP Handscomb">PSP Handscomb</option value>
					<option value = "J Yadav">J Yadav</option value>
                    <option value = "UT Khawaja">UT Khawaja</option value>
					<option value = "F Behardien">F Behardien</option value>
                    <option value = "BB Sran">BB Sran</option value>
					<option value = "S Kaushik">S Kaushik</option value>
                    <option value = "ER Dwivedi">ER Dwivedi</option value>
					<option value = "E Lewis">Evin Lewis</option value>
                    <option value = "M Wood">Mark Wood</option value>
					<option value = "R Singh">R Singh</option value>
                    <option value = "D Short">D'Arcy Short</option value>
					<option value = "K Gowtham">Krishnappa Gowtham</option value>
                    <option value = "T Curran">Tom Curran</option value>
					<option value = "M Markande">Mayank Markande</option value>
                    <option value = "B Stanlake">Billy Stanlake</option value>
					<option value = "M Ur Rahman">Mujeeb Ur Rahman</option value>
                    <option value = "A Dananjaya">Akila Dananjaya</option value>
					<option value = "S Gill">Shubman Gill</option value>
                    <option value = "S Mavi">Shivam Mavi</option value>
					<option value = "Mohammed Siraj">Mohammed Siraj</option value>
                    <option value = "H Klaasen">Heinrich Klaasen</option value>
					<option value = "R Bhui">R Bhui</option value>
                    <option value = "J Archer">Jofra Archer</option value>
					<option value = "P Shaw">Prithvi Shaw</option value>
                    <option value = "L Plunkett">L Plunkett</option value>
					<option value = "Mustafizur Rahman">Mustafizur Rahman</option value>
					<option value = "A Hales">Alex Hales</option value>
                    <option value = "M Lomror">M Lomror</option value>
					<option value = "D Shorey">D Shorey</option value>
                    <option value = "M Ali">Moeen Ali</option value>
					<option value = "P Krishna">Prasidh Krishna</option value>
                    <option value = "P Chopra">P Chopra</option value>
					<option value = "J Searles">J Searles</option value>
                    <option value = "I Sodhi">I Sodhi</option value>
					<option value = "S Hetmyer">S Hetmyer</option value>
                    <option value = "S Dube">Shivam Dube</option value>
					<option value = "J Bairstow">Jonny Bairstow</option value>
                    <option value = "C Ingram">Colin Ingram</option value>
					<option value = "K Paul">Keemo Paul</option value>
					<option value = "R Salam">R Salam</option value>
                    <option value = "N Pooran">N Pooran</option value>
					<option value = "N Naik">N Naik</option value>
                    <option value = "H Vihari">Hanuma Vihari</option value>
					<option value = "P R Barman">P R Barman</option value>
                    <option value = "S Curran">Sam Curran</option value>
					<option value = "H Viljoen">H Viljoen</option value>
                    <option value = "Avesh Khan">Avesh Khan</option value>
					<option value = "S Lamichhane">Sandeep Lamichhane</option value>
                    <option value = "S Sharma">S Sharma</option value>
					<option value = "H Gurney">H Gurney</option value>
                    <option value = "SD Lad">SD Lad</option value>
					<option value = "A Joseph">Alzarri Joseph</option value>
					<option value = "R Parag">R Parag</option value>
                    <option value = "M Santner">Mitchell Santner</option value>
					<option value = "J Denly">Joe Denly</option value>
                    <option value = "L Livingstone">L Livingstone</option value>
					<option value = "K Ahmed">K Ahmed</option value>
                    <option value = "A Turner">Ashton Turner</option value>
					<option value = "H Brar">H Brar</option value>
                    <option value = "S Rutherford">S Rutherford</option value>
					<option value = "P Raj">P Raj</option value>
                    <option value = "S Singh">S Singh</option value>
				
					
					</select>
					</datalist>
					

    <label for="psw"><b>team</b></label>
    <input type="text" placeholder="Enter team name" name="team" list="myUL2">
	
	
	<datalist id="myUL2" name="venue" required>
				     <select required>
                    <option value = "Royal Challengers Bangalore">Royal Challengers Bangalore</option value>
                    <option value = "Rising Pune Supergiant">Rising Pune Supergiant</option value>
					<option value = "Kolkata Knight Riders">Kolkata Knight Riders</option value>
                    <option value = "Kings XI Punjab">Kings XI Punjab</option value>
					<option value = "Delhi Daredevils">Delhi Daredevils</option value>
                    <option value = "Sunrisers Hyderabad">Sunrisers Hyderabad</option value>
					<option value = "Mumbai Indians">Mumbai Indians</option value>
                    <option value = "Gujarat Lions">Gujarat Lions</option value>
					<option value = "Rajasthan Royals">Rajasthan Royals</option value>
                    <option value = "Chennai Super Kings">Chennai Super Kings</option value>
					<option value = "Deccan Chargers">Deccan Chargers</option value>
					<option value = "Pune Warriors">Pune Warriors</option value>
                    <option value = "Kochi Tuskers Kerala">Kochi Tuskers Kerala</option value>
					<option value = "Rising Pune Supergiants">Rising Pune Supergiants</option value>
					<option value = "Delhi Capitals">Delhi Capitals</option value>
                    
					<select>
					</datalist>
    
    <button type="submit" class="btn" onclick="myFunction()">submit</button>
	 <div id = "load" style="display:none;">	
    <button class="buttonload" id="load" >
     <i class="fa fa-refresh fa-spin"></i>
    </button>
      </div>	
	<script>
function myFunction() {
  document.getElementById("load").style.display = "block";
 
}

function openNav() {
  document.getElementById("mySidebar").style.width = "204px";
  document.getElementById("main").style.marginLeft = "0px";
}

function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}

</script>
	
  </form>
<div class = "container3">
<nav class="container3" id="mySidebar" class="sidebar">
<a href="selection" class="w3-bar-item w3-button w3-padding-large w3-gray">
    <p>SMART SELECTION</p>
  </a>
  </nav>
  </div>

<form>
<div class = "container2">
 
 <button class="openbtn" onclick="openNav()">☰</button>

</div> 
</form>
</body>
</html>
